// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google: 'https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Roboto+Slab:400,700';

$font-family--primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// Descriptive Base Colors

// Color Usage

// Text
