// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google: 'https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Roboto+Slab:400,700';

$font-family--primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// Descriptive Base Colors

$white: #fff;
$black: #000;
$grey: #ccc;

$fountain-blue: #5bc0de;
$emerald: #5cb85c;
$alizarin: #d9534f;
$coral: #f0ad4e;
$purple-majesty: #6f42c1;
$scooter: #2b5797;

// Color Usage

$color--primary: $fountain-blue;
$color--secondary: $scooter;
$color--accent: $emerald;
$color-shadow: rgba($black, 0.2);

// Text

$base__font-size: 16px;
$base__line-height: 24px;